{% set url = path('ad_show', {slug: ad.slug})%}
    <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header">
                Appartement {{ad.rooms}} pièces <strong>{{ad.price}} &euro; / nuit</strong> <br>
                {% if ad.comments | length > 0 %}
                    {% include "shared/_rating.html.twig" with {'rating': ad.avgRating} %}
                {% else %}
                    <small>Pas encore noté</small>
                {% endif %}
                
                </div>
                <a href="{{url}}">
                <img src="{{ad.coverImage}}" alt="Une image normale" style="height: 200px; width: 100%; display: block">
                </a>
            <div class="card-body mb-3">
            <a href="{{url}}">
                <p class="card-title">{{ad.title}}</p>
            </a>
            <p class="card-text">{{ad.introduction}}</p>
            <a href="{{url}}" class="btn btn-secondary">Voir l'annonce</a>
            {% if app.user and app.user == ad.author %}
                <a href="{{path('ad_edit', {slug: ad.slug})}}" class="btn btn-secondary">Modifier l'annonce !</a>
                
            {% endif %}
        </div>
    </div>
</div>